* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-5 {
    flex-basis: calc(100% / 5);
}

.col-2 {
    flex-basis: calc(100% / 2);
}

.center {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}

.nav {
    background-color: #ADD8E6;
    min-height: 50px;
    display: flex;
    justify-content: center;
    padding: 25px 200px;
    
}

.nav_bar {
    background-color: #DAA520;
    min-height: 50px;
    display: flex;
    align-items: center;
    border: 2px dotted black;
    padding: 0 5px;
}

.main-header {
    background-color: #00008B;
    min-height: 500px;
    display: flex;
    padding: 50px 400px;
}

.main-header_box {
    background-color: #EE81EE;
    min-height: 300px;
    flex-grow: 1;
    border: 2px dotted black;
}