* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .col-8 {
    flex-basis: calc(100% / 8); */
}

.col-4 {
    flex-basis: calc(100% / 4);
}

.col-6 {
    flex-basis: calc(100% / 6);
}

/* .col-3 {
    flex-basis: calc(100% / 3); */
}

.col-2 {
    flex-basis: calc(100% / 2);
}

.center {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}

.nav {
    background-color: #ADD8E6;
    min-height: 50px;
    display: flex;
    justify-content: center;
    padding: 25px 200px;
    
}

.nav_bar {
    background-color: #DAA520;
    min-height: 50px;
    display: flex;
    align-items: center;
    border: 2px dotted black;
    padding: 0 5px;
}

.main-header {
    background-color: #00008B;
    min-height: 500px;
    display: flex;
    padding: 50px 400px;
}

.main-header_box {
    background-color: #EE81EE;
    min-height: 300px;
    flex-grow: 1;
    border: 2px dotted black;
}

.white-part {
    min-height: 50px;
    display: flex;
    justify-content: center;
    padding: 25px 200px;
}

.blue-block {
    background-color: #1C90FF;
    min-height: 300px;
    border: 2px dotted black;
}

.pink-block {
    background-color: #FEC0CA;
    min-height: 300px;
    border: 2px dotted black;
}

.grey-part {
    background-color: #D3D3D3;
    min-height: 50px;
    display: flex;
    justify-content: center;
    padding: 25px 200px;
    flex-direction: row-reverse;
}

.main-box {
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
    padding: 50px 325px;
}

.box {
    background-color: #228B21;
    min-height: 500px;
    border: 2px dotted black;
    flex-grow: 1;
}